<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.admin.mapper.MemberManageMapper">

<select id="normalList" parameterType="com.sp.app.admin.model.MemberManage">
	SELECT m1.memberIdx, m1.name, m1.reg_date, m1.block
	FROM member m1
	JOIN memberAuthority ma ON m1.memberIdx = ma.memberIdx
	WHERE ma.Authority = #{authority};
</select>

</mapper>
