<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.ProductMapper">

<select id="detailProduct" parameterType="Long"
	resultType="com.sp.app.model.Product">
	SELECT
	p.product_num,
	c.category_num,
	p.title,
	NVL(pay.total_amount, 0) AS total_amount,
	pro.end_date,
	pr.target,
	pr.accept_date
	FROM Product p
	JOIN Project pro ON p.num = pro.num
	JOIN ProjectRequest pr ON p.num = pr.num
	JOIN Category c ON pr.category_num = c.category_num
	LEFT JOIN Sales s ON p.product_num = s.product_num
	LEFT JOIN Payment pay ON s.payment_num = pay.payment_num
	WHERE p.product_num = #{productNum}
</select>


<select id="totalAmountProduct" parameterType="Long"
	resultType="Integer">
	SELECT NVL(SUM(s.sum), 0)
	FROM Sales s
	JOIN Product p ON s.product_num = p.product_num
	WHERE p.product_num = #{product_num}
</select>

<select id="projectLikeCount" parameterType="Long"
	resultType="Integer">
	SELECT COUNT(*)
	FROM ProjectLike pl
	JOIN Product p ON pl.num = p.num
	WHERE p.product_num = #{product_num}
</select>

<select id="productReviews" parameterType="Long"
	resultType="com.sp.app.model.Product">
	<!-- SELECT r.review_num, r.content, r.grade, m.nickName AS reviewer_name, 
		mp.s_FileName AS reviewer_profile, rp.s_FileName AS review_photo FROM Review 
		r JOIN Member1 m ON r.sales_num = m.memberIdx LEFT JOIN ReviewPhoto rp ON 
		r.review_num = rp.review_num LEFT JOIN MakerFile mp ON m.memberIdx = mp.mkboard_num 
		WHERE r.project_num = (SELECT p.num FROM Product p WHERE p.product_num = 
		#{product_num}) SELECT r.review_num, r.content, r.grade, m.nickName AS reviewer_name, 
		mp.s_FileName AS reviewer_profile, rp.s_FileName AS review_photo FROM Review 
		r JOIN Member1 m ON r.sales_num = m.memberIdx LEFT JOIN ReviewPhoto rp ON 
		r.review_num = rp.review_num LEFT JOIN MakerFile mp ON m.memberIdx = mp.mkboard_num 
		WHERE r.project_num = (SELECT p.num FROM Product p WHERE p.product_num = 
		#{product_num}) -->
</select>

</mapper>