<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.ProjectManagerMapper">
	<select id="listProject" parameterType="map"
		resultType="com.sp.app.model.ProjectManager">
		SELECT pr.num, pr.memberIdx, pr.request_date, pr.accept_date, pr.title,
		pr.business, pr.content, pr.target, pr.term, pr.thumbnail,
		pr.category_num, pr.accept_return, pr.return_reason,
		m.name -- member1 테이블에서 name 추가
		FROM projectRequest pr
		INNER JOIN member1 m ON pr.memberIdx = m.memberIdx
		WHERE pr.memberIdx = #{memberIdx}
	</select>

	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM ProjectRequest p
		INNER JOIN member1 m ON p.memberIdx = m.memberIdx
		<where>
			<if test="kwd != null and kwd != ''">
				<choose>
					<when test="schType == 'title'">
						AND INSTR(p.title, #{kwd}) > 0
					</when>
					<when test="schType == 'request_date'">
						AND TO_CHAR(p.request_date, 'YYYY-MM-DD') = #{kwd}
					</when>
					<when test="schType == 'accept_date'">
						AND TO_CHAR(p.accept_date, 'YYYY-MM-DD') = #{kwd}
					</when>
					<when test="schType == 'category'">
						AND p.category_num = #{kwd}
					</when>
					<when test="schType == 'name'">
						AND INSTR(m.name, #{kwd}) > 0
					</when>
				</choose>
			</if>
		</where>
	</select>
	
	<select id="b_dataCount" parameterType="map" resultType="Integer">
    SELECT COUNT(DISTINCT b.mkboard_Num)
    FROM MakerBoard b
    WHERE b.MAKERIDX = #{makerIdx, jdbcType=NUMERIC}
</select>
	
	<update id="approveProject" parameterType="Long">
		UPDATE ProjectRequest SET
		accept_return = 1,
		accept_date = SYSDATE
		WHERE num = #{num}
	</update>

	<update id="rejectProject" parameterType="map">
		UPDATE ProjectRequest SET
		accept_return = 0,
		return_reason = #{reason},
		accept_date = SYSDATE
		WHERE num = #{num}
	</update>
<select id="listBoard" parameterType="map"
	resultType="com.sp.app.model.ProjectManager">
   SELECT 
        b.mkboard_Num,
        MAX(b.TITLE) AS b_title,
        MAX(DBMS_LOB.SUBSTR(b.CONTENT, 4000, 1)) AS b_content,
        MAX(b.CATEGORY) AS b_CATEGORY,
        MAX(b.MAKERIDX) AS MAKERIDX,
        MAX(maker.makername) AS b_name,
        NVL(COUNT(l.MEMBERIDX), 0) AS likeCount
    FROM MakerBoard b
    LEFT JOIN MakerBoardLike l ON b.mkboard_Num = l.mkboard_Num
    LEFT JOIN Maker maker ON b.MAKERIDX = maker.memberIdx
    WHERE b.MAKERIDX = #{memberIdx, jdbcType=NUMERIC}
    GROUP BY b.mkboard_Num
    ORDER BY b.mkboard_Num DESC
</select>
</mapper>