<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.admin.mapper.VoteManageMapper">
	<select id="projectList" parameterType="map" resultType="com.sp.app.admin.model.ProjectManage">
		SELECT num, memberIdx, request_date, accept_date, title, business, content, target, 
	   		 term, thumbnail, category_num, accept_return, return_reason
		FROM projectRequest
	</select>
	
	
</mapper>